/* eslint-disable comma-dangle */

import React from "react";
import PropTypes from "prop-types";

import isString from "lodash-es/isString";

import { getColorsLabels, getShades } from "../styles/colors";

<% iconsList.forEach(icon => {%>
import <%= icon %> from "./<%= icon %>";<%})%>

const ICONS_MAP = {
  <% iconsList.forEach(icon => {%> 
  <%= icon.toLocaleLowerCase() %>: <%= icon %>,<%})%>
};

const colorsList = getColorsLabels();
const shadesList = getShades();

const Icon = ({ icon, ...props }) => {
  const name = icon.trim().toLowerCase();
  const IconSelected = ICONS_MAP[name];

  if (!IconSelected) {
    return null;
  }

  return <IconSelected {...props} />;
};

Icon.propTypes = {
  icon: ({ icon }) => {
    if (!isString(icon)){
      return new Error("Invalid prop icon supplied to Icon Component. Validation failed.");
    }
    if (!ICONS_MAP[icon.trim().toLowerCase()]) {
      return new Error("Invalid prop icon supplied to Icon Component. Validation failed. INVALID ICON");
    } 
    return null;
  },
  color: PropTypes.oneOf(colorsList),
  className: PropTypes.string,
  size: PropTypes.oneOf([6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 26, 30, 32, 42, 64, 96]),
  onMouseEnter: PropTypes.func,
  onMouseLeave: PropTypes.func,
  rotation: PropTypes.number,
  shade: PropTypes.oneOf(shadesList),
  padding: PropTypes.number,
};

Icon.defaultProps = {
  icon: "",
  color: "neutral",
  size: 24,
  className: "",
  rotation: 0,
  shade: 500,
  padding: 0,
  onMouseEnter: () => { },
  onMouseLeave: () => { },
};

export default Icon;
